body {
	background: black;
}

.postcard {
	background: white;
	width: 600px;
	height: 380px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	margin: 0.5rem 1rem 0 0;
}

.postcard-header h1 {
	width: 90%;
	margin: 0 0 0 1rem;
	font-family: "Shizuru", cursive;
	color: blue;
}

.postcard-body {
	display: flex;
}

.postcard-body .body-right {
	padding: 1rem;
}

.postcard-body .body-right input {
	border: none;
	border-bottom: 1px solid gray;
	margin: 1.5rem;
}

.postcard-body .body-left {
	padding: 1rem;
}

.postcard-body .body-left p {
	margin-top: 0;
	font-size: medium;
	font-family: "BhuTuka Expanded One", cursive;
	font-weight: 700;
}

.postcard-footer {
	text-align: center;
}

.postcard-footer .button {
	padding: 0.5rem;
	text-transform: uppercase;
	background-color: gold;
	border-radius: 5rem;
	font-weight: bold;
	color: blue;
	cursor: pointer;
}
